.colorpicker {
    flex: 1;
    margin: auto;
    position: relative;
  }
  
  .color {
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border: none;
    position: absolute;
    left: 50%; top: 50%;
  }
  