*, *:before, *:after {
  box-sizing: border-box;
}

body {
    margin: 0;
  
    --color-black: #333;
    --color-white: rgb(241, 236, 163);
    --color-red: rgb(180, 52, 52);
    --color-blue: rgb(39, 131, 218);
    --color-green: rgb(63, 185, 63);
  }
  .bg-black {
    background: var(--color-black);
  }
  
  .bg-white {
    background: var(--color-white);
  }
  
  .bg-blue {
    background: var(--color-blue);
  }
  
  .bg-green {
    background: var(--color-green);
  }
  
  .bg-red {
    background: var(--color-red);
  }
  
  .board {
    height: 100vh;
    user-select: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .counter {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    transform: rotate(180deg);
    margin: 0;
  }
  
  .counter.bg-black,
  .counter.bg-red,
  .counter.bg-blue {
    color: white;
  }
  
  .counter.revert {
    transform: none;
    flex-direction: row-reverse;
  }
  
  .counter .help {
    font-size: 10vh;
  }
  
  .counter-value {
    font-size: 20vh;
    margin: 0;
  }
  
  .controls {
    flex: 0;
    background: #333;
    box-shadow: 0 0 20px inset black;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .controls.opened {
    flex: 0.5;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    border: none;
    background: #ccc;
    margin: 0;
    padding: 0;
    width: 10vh;
    height: 10vh;
    font-size: 5vh;
    color: white;
    background: #111;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  .logo:after {
    content: "";
    display: block;
    position: absolute;
    top: -4vw;
    right: -4vw;
    bottom: -4vw;
    left: -4vw;
    opacity: 0;
  }
  
  .controls-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .control {
    width: 7vh;
    height: 7vh;
    font-size: 3vh;
    border-radius: 50%;
    border: 0;
    color: #111;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 0;
    padding: 0;
  }
  